<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
</head>
<body>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Ação</th>
     
            </tr>
        </thead>
        <tbody>
            {% for e in pEstudantes %}
            <tr>
                <td>{{ e.nome }}</td>
                <td>{{ e.idade }}</td>
                <td>
                    <a href="/edit/{{ e.id }}">Editar</a>
                    <a href="/delete/{{ e.id }}">Excluir</a>

                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</body>
</html>